<app-header title="Events" [showBackButton]="true"></app-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-segment (ionChange)="segmentChanged($event)" [value]="selectedSegment">
    <ion-segment-button value="Upcoming">
      <ion-label>Upcoming</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Completed">
      <ion-label>Completed</ion-label>
    </ion-segment-button>
  </ion-segment>

  <app-spinner *ngIf="!displayEvents"></app-spinner>

  <ion-list>
    <ion-item *ngFor="let event of displayEvents" (click)="onDetails(event._id)">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="9" size-md="6" mode="ios">
            <ion-label>{{event.title}}</ion-label>
            <ion-label class="name-date" style="padding-top: 5px;">
              {{event.description}}
            </ion-label>
          </ion-col>
          <ion-col size="3" size-md="6" mode="ios">
            <div *ngIf="event.pics[0]">
              <img alt="img" [src]="synergeService.basePath + event.pics[0]" />
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="9" size-md="6" mode="ios">
            <ion-label class="name-date">
              {{event.date | date: 'MMM d, y - h:mm a'}}
            </ion-label>
          </ion-col>
          <ion-col size="3" size-md="6" mode="ios">
            <div class="like-comment">
              <div>
                <ion-icon name="thumbs-up" [ngClass]="{'liked': getDidILike(event)}"></ion-icon>
                {{event.likes.length}}
              </div>
              <div>
                <ion-icon name="chatbox-ellipses"></ion-icon>
                {{event.comments.length}}
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <!-- <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="6" mode="ios" *ngFor="let event of displayEvents">
        <ion-card>
          <a [href]="synergeService.basePath + event.pics[0]" target="_blank" *ngIf="event.pics[0]">
            <img alt="img" [src]="synergeService.basePath + event.pics[0]" class="img-full" />
          </a>
          <ion-card-header>
            <ion-card-subtitle>
              {{event.date | date: 'MMM d, y'}}
              <ion-icon name="ellipsis-vertical" size="small" style="float: right;"
                (click)="presentPopover($event, event)" *ngIf="synergeService.isAdmin">
              </ion-icon>
            </ion-card-subtitle>
            <ion-label>
              <h2>{{event.title}}</h2>
            </ion-label>
          </ion-card-header>
          <ion-card-content>
            {{event.description}}
            <p><a [href]="event.links[0]" target="_blank">{{event.links[0]}}</a></p>
            <hr>
            <div class="like-comment">
              <div>
                <ion-icon name="thumbs-up" style="cursor: pointer;" [ngClass]="{'liked': getDidILike(event)}"
                  (click)="onLike(event)"></ion-icon>
                &nbsp;&nbsp;
                <span style="cursor: pointer;" (click)="onLikeList(event)"> {{event.likes.length}} Likes</span>
              </div>
              <div>
                <div style="cursor: pointer;" (click)="onComment(event)">
                  <ion-icon name="chatbox-ellipses"></ion-icon>
                  &nbsp;
                  {{event.comments.length}} Comments
                </div>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <div style="padding-bottom: 100px;"></div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="synergeService.isAdmin">
    <ion-fab-button (click)="onAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>