<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" size="large" (click)="dismiss()"></ion-icon>
    </ion-buttons>
    <ion-title>
      Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-spinner *ngIf="!booking"></app-spinner>
  <ion-card *ngIf="booking">
    <ion-card-content>
      <div class="flex-row-between">
        <h3>Booked For</h3>
        <p>{{booking.booking_type}}</p>
      </div>
      <div class="flex-row-between">
        <h3>Booked for - Date</h3>
        <p>{{booking.booking_date | date: 'MMM d, y'}}</p>
      </div>
      <div class="flex-row-between">
        <h3>Booked for - Time</h3>
        <p>{{booking.booking_time}}</p>
      </div>
      <div class="flex-row-between">
        <h3>Booked Note</h3>
        <p>{{booking.booking_note}}</p>
      </div>
      <hr>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="booking">
    <ion-card-header>
      <ion-card-subtitle>
        <u>
          User Details
        </u>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div class="flex-row-between">
        <h3>Booked By</h3>
        <!-- <p>{{booking.booking_type}}</p> -->
        <a href="javascript:void(0)"
          (click)="synergeService.onUserInfo(booking.by_user_id)">{{booking.by_user_name}}</a>
      </div>
      <div class="flex-row-between">
        <h3>Booked On</h3>
        <p>{{booking.booking_created_date | date: 'MMM d, y - h:mm a'}}</p>
      </div>
      <div class="flex-row-between">
        <h3>Booked Status</h3>
        <p>{{booking.status}}</p>
      </div>

      <div *ngIf="user">
        <div class="flex-row-between">
          <h3>Booked User Email</h3>
          <p>
            <app-share-action [text]="user.email" [type]="'email'"></app-share-action>
          </p>
        </div>
        <div class="flex-row-between">
          <h3>Booked User phone</h3>
          <p>
            <app-share-action [text]="user.phone" [type]="'phone'"></app-share-action>
          </p>
        </div>
      </div>
      <hr>
      <ion-list>
        <ion-item>
          <ion-label>Current Status</ion-label>
          <ion-select placeholder="Select One" [(ngModel)]="status">
            <ion-select-option value="Request Pending" disabled>Request Pending</ion-select-option>
            <ion-select-option value="Confirmed">Confirmed</ion-select-option>
            <ion-select-option value="Declined">Declined</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button class="ion-padding" expand="block" (click)="onDelete()" [disabled]="deleteButtonText != 'Delete'">
          {{deleteButtonText}}
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="ion-padding" expand="block" (click)="onUpdate()" [disabled]="saveButtonText != 'Save'">
          {{saveButtonText}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>