<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" size="large" (click)="dismiss()"></ion-icon>
    </ion-buttons>
    <ion-title>
      Add News Feed
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-image [onButton]="true" [buttonText]="'Upload Image'" (onUploadEvent)="onUpload($event[0], $event[1])">
  </app-image>
  <br>
  <img alt="img" class="img" [src]="imgURL" *ngIf="imgURL" />

  <ion-item>
    <ion-label position="floating">Content</ion-label>
    <ion-textarea [(ngModel)]="content" required></ion-textarea>
  </ion-item>

  <ion-button class="ion-padding" (click)="onSave()" type="button" expand="block" [disabled]="buttonText != 'Save'">
    {{buttonText}}
    <app-spinner *ngIf="buttonText === 'Loading...'"></app-spinner>
  </ion-button>

  <div style="padding-bottom: 100px;"></div>

</ion-content>