<app-header title="Users" [showBackButton]="true"></app-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-spinner *ngIf="!users"></app-spinner>
  <div *ngIf="users">
    <ion-item-group>
      <ion-list [hidden]="users.length === 0" mode="ios">
        <ion-item-sliding *ngFor="let user of users; let i = index"
          [attr.track]="user.role === 'ADMIN' ? 'brand' : 'disabled' | lowercase">
          <ion-item>
            <ion-label>
              <h3>
                <a href="javascript:void(0)" (click)="synergeService.onUserInfo(user._id)">{{user.first_name}}
                  {{user.last_name}}</a>
              </h3>
              <h3>{{user.user_name}}</h3>
              <h4>
                <app-share-action [text]="user.email" [type]="'email'" [position]="'end'"></app-share-action>
              </h4>
              <h4>
                <app-share-action [text]="user.phone" [type]="'phone'" [position]="'end'"></app-share-action>
              </h4>
              <h4>{{user.role}}</h4>
              <h4>{{user.belongs_to}}</h4>
              <h4>{{user.company_name}}</h4>
              <p>
                {{user.company_name}}
              </p>
            </ion-label>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-item>
          <ion-item-options>
            <ion-item-option [color]="user.activated ? 'warning' : 'success'" (click)="onActivate(user, i)"
              *ngIf="roleAdmin !== user.role" [disabled]="activateButtonText[i] === 'Loading...'">
              {{activateButtonText[i]}}
            </ion-item-option>
            <ion-item-option color="secondary" (click)="onUserClick(user)">
              Edit
            </ion-item-option>
            <ion-item-option color="primary" (click)="onDelete(user, i)" *ngIf="roleAdmin !== user.role"
              [disabled]="deleteButtonText[i] === 'Loading...'">{{deleteButtonText[i]}}
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-item-group>

    <ion-list-header [hidden]="users.length > 0">
      No Bookings Found
    </ion-list-header>
  </div>
</ion-content>