<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" size="large" (click)="dismiss()"></ion-icon>
    </ion-buttons>
    <ion-title>
      Achiever
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-spinner *ngIf="!achieverForm"></app-spinner>
  <form [formGroup]="achieverForm" (ngSubmit)="onSave()" *ngIf="achieverForm">
    <ion-item>
      <ion-label position="floating">Belongs to*</ion-label>
      <ion-select formControlName="belongs_to" (ionChange)="handleBelongsToChangeEvent($event)" required>
        <ion-select-option value="SYNERGE_I">SYNERGE I</ion-select-option>
        <ion-select-option value="SYNERGE_II">SYNERGE II</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-text color="danger" *ngIf="submitted && hasError('belongs_to', 'required')">
      <small>Belongs to is required.</small>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Company Name*</ion-label>
      <ion-select formControlName="company_name" id="company_name" required>
        <ion-select-option *ngFor="let company of companyNames" [value]="company.company_name">{{company.company_name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-text color="danger" *ngIf="submitted && hasError('company_name', 'required')">
      <small>Company is required.</small>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Achiever*</ion-label>
      <ion-input type="text" formControlName="achiever" id="achiever" required>
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="submitted && hasError('achiever', 'required')">
      <small>Achiever is required.</small>
    </ion-text>
    
    <ion-item>
      <ion-label position="floating">Achieved*</ion-label>
      <ion-input type="text" formControlName="achieved" id="achieved" required>
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="submitted && hasError('achieved', 'required')">
      <small>Achieved is required.</small>
    </ion-text>

    <ion-item>
      <ion-label>Date*</ion-label>
      <ion-datetime displayFormat="MMM D, YYYY" mode="ios" max="2100" formControlName="date" required>
      </ion-datetime>
    </ion-item>
    <ion-text color="danger" *ngIf="submitted && hasError('date', 'required')">
      <small>Date is required.</small>
    </ion-text>

    <img alt="img" class="img" [src]="imgURL" *ngIf="imgURL" />

    <app-image [onButton]="true" [buttonText]="'Upload Image'" (onUploadEvent)="onUpload($event[0], $event[1])">
    </app-image>

    <ion-button class="ion-padding" type="submit" expand="block" [disabled]="buttonText != 'Save'">
      {{buttonText}}
      <app-spinner *ngIf="buttonText === 'Loading...'"></app-spinner>
    </ion-button>

    <div style="padding-bottom: 100px;"></div>
  </form>
</ion-content>