<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" size="large" (click)="dismiss()"></ion-icon>
    </ion-buttons>
    <ion-title>
      Event
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-spinner *ngIf="!eventForm"></app-spinner>
  <form [formGroup]="eventForm" (ngSubmit)="onSave()" *ngIf="eventForm">
    <ion-item>
      <ion-label position="floating">Event type*</ion-label>
      <ion-select formControlName="type" required>
        <ion-select-option value="Upcoming">Upcoming</ion-select-option>
        <ion-select-option value="Completed">Completed</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-text color="danger" *ngIf="submitted && hasError('type', 'required')">
      <small>Type is required.</small>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Belongs to*</ion-label>
      <ion-select formControlName="belongs_to" required>
        <ion-select-option value="SYNERGE_I">SYNERGE I</ion-select-option>
        <ion-select-option value="SYNERGE_II">SYNERGE II</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-text color="danger" *ngIf="submitted && hasError('belongs_to', 'required')">
      <small>Belongs to is required.</small>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Title*</ion-label>
      <ion-input type="text" formControlName="title" id="title" required>
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="submitted && hasError('title', 'required')">
      <small>Title is required.</small>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input type="text" formControlName="description" id="description">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Event Date*</ion-label>
      <ion-datetime displayFormat="MMM D, YYYY" mode="ios" max="2100" formControlName="date" required>
      </ion-datetime>
    </ion-item>
    <ion-text color="danger" *ngIf="submitted && hasError('date', 'required')">
      <small>Date is required.</small>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Event Links</ion-label>
      <ion-input type="text" formControlName="links" id="links">
      </ion-input>
    </ion-item>

    <img alt="img" class="img" [src]="imgURL" *ngIf="imgURL" />

    <app-image [onButton]="true" [buttonText]="'Upload Image'" (onUploadEvent)="onUpload($event[0], $event[1])">
    </app-image>

    <ion-button class="ion-padding" type="submit" expand="block" [disabled]="buttonText != 'Save'">
      {{buttonText}}
      <app-spinner *ngIf="buttonText === 'Loading...'"></app-spinner>
    </ion-button>

    <div style="padding-bottom: 100px;"></div>
  </form>
</ion-content>