<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" size="large" (click)="dismiss()"></ion-icon>
    </ion-buttons>
    <ion-title>
      Client and Company
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-spinner *ngIf="clients.length === 0"></app-spinner>
  <ion-list>
    <ion-list-header>
      <ion-label>
        Synerge Selection
      </ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Booking Belongs to</ion-label>
      <ion-select [(ngModel)]="belongs_to" name="belongs_to" (ionChange)="onBelongsToChange(belongs_to)">
        <ion-select-option value="SYNERGE_I">Synerge I</ion-select-option>
        <ion-select-option value="SYNERGE_II">Synerge II</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Booking Company Name</ion-label>
      <ion-select [(ngModel)]="company_name" name="company_name">
        <ion-select-option *ngFor="let company of companyNames" [value]="company.company_name">{{company.company_name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-button class="ion-padding" expand="block" (click)="onSelect()">
    Select
  </ion-button>
</ion-content>