<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" size="large" (click)="dismiss()"></ion-icon>
    </ion-buttons>
    <ion-title>
      Synerge Family
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-spinner *ngIf="!synergeFamilyForm"></app-spinner>
  <form [formGroup]="synergeFamilyForm" (ngSubmit)="onSave()" *ngIf="synergeFamilyForm">
    <ion-item>
      <ion-label position="floating">Belongs to*</ion-label>
      <ion-select formControlName="belongs_to" required>
        <ion-select-option value="SYNERGE_I">SYNERGE I</ion-select-option>
        <ion-select-option value="SYNERGE_II">SYNERGE II</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-text color="danger" *ngIf="submitted && hasError('belongs_to', 'required')">
      <small>Belongs to is required.</small>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Company Name*</ion-label>
      <ion-input type="text" formControlName="company_name" id="company_name" required>
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="submitted && hasError('company_name', 'required')">
      <small>Company is required.</small>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Company Description</ion-label>
      <ion-input type="text" formControlName="company_description" id="company_description">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Company Website Link</ion-label>
      <ion-input type="text" formControlName="company_link" id="company_link">
      </ion-input>
    </ion-item>

    <ion-grid fixed>
      <ion-row *ngFor="let ch of companyHeads; let i = index; let last = last;">
        <ion-col size="5">
          <ion-item>
            <ion-input type="text" [(ngModel)]="companyHeads[i].designation" [ngModelOptions]="{standalone: true}"
              [name]="'designation'+i" placeholder="Designation"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="5">
          <ion-item>
            <ion-input type="text" [(ngModel)]="companyHeads[i].name" [ngModelOptions]="{standalone: true}"
              [name]="'name'+i" placeholder="Name"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-button type="button" class="btn btn-danger btn-sm" style="top: 10px;" *ngIf="!last"
            (click)="deleteRow($event, ch, i)">
            <ion-icon name="remove-outline"></ion-icon>
          </ion-button>
          <ion-button type="button" class="btn btn-danger btn-sm" style="top: 10px;" *ngIf="last" (click)="addRow(i)">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <img alt="img" class="img" [src]="imgURL" *ngIf="imgURL" />

    <app-image [onButton]="true" [buttonText]="'Upload Logo'" (onUploadEvent)="onUpload($event[0], $event[1])">
    </app-image>

    <ion-button class="ion-padding" type="submit" expand="block" [disabled]="buttonText != 'Save'">
      {{buttonText}}
      <app-spinner *ngIf="buttonText === 'Loading...'"></app-spinner>
    </ion-button>

    <div style="padding-bottom: 100px;"></div>
  </form>
</ion-content>