<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="showBackButton">
      <ion-icon name="arrow-back" size="large" (click)="goBack()"></ion-icon>
    </ion-buttons>
    <!-- <ion-buttons slot="start" *ngIf="showBackButton">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons> -->
    <ion-buttons slot="end" *ngIf="showMenu">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>