<app-spinner *ngIf="!user"></app-spinner>
<ion-content *ngIf="user">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="presentPopover($event)">
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"
            style="text-shadow: 2px 2px 4px #000000;"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button style="text-shadow: 2px 2px 4px #000000;"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div [ngClass]="{'profile-header': true, 'profile-header-gray': !user.profile_pic_path}" class="profile-header">
    <div class="profile-image" *ngIf="user.profile_pic_path"
      [style.background-image]="'url(' + synergeService.basePath + user.profile_pic_path + ')'">
    </div>
  </div>

  <div class="profile-info">
    <h3 class="ion-padding-top ion-padding-start">
      {{user.first_name}} {{user.last_name}}
    </h3>

    <h5 class="ion-padding-top ion-padding-start">
      {{user.designation}}
    </h5>

    <p class="ion-padding-start ion-padding-end">
      {{user.bio}}
    </p>

    <h3 class="ion-padding-top ion-padding-start">Details</h3>

    <ion-list lines="none">
      <ion-item>
        <ion-label>
          Email
        </ion-label>
        <ion-label class="ion-text-end">
          <app-share-action [text]="user.email" [type]="'email'"></app-share-action>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Phone
        </ion-label>
        <ion-label class="ion-text-end">
          <app-share-action [text]="user.phone" [type]="'phone'"></app-share-action>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>