<app-header title="Achievers" [showBackButton]="true"></app-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-segment (ionChange)="segmentChanged($event)" [value]="selectedSegment">
    <ion-segment-button value="SYNERGE_I">
      <ion-label>SYNERGE I</ion-label>
    </ion-segment-button>
    <ion-segment-button value="SYNERGE_II">
      <ion-label>SYNERGE II</ion-label>
    </ion-segment-button>
  </ion-segment>

  <app-spinner *ngIf="!displayAchievers"></app-spinner>

  <ion-list>
    <ion-item *ngFor="let achiever of displayAchievers" (click)="onDetails(achiever._id)">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="9" size-md="6" mode="ios">
            <ion-label>Name: {{achiever.achiever}}</ion-label>
            <ion-label>Achiever: {{achiever.achieved}}</ion-label>
            <ion-label class="name-date" style="padding-top: 5px;">
              Company Name: {{achiever.company_name}}
            </ion-label>
          </ion-col>
          <ion-col size="3" size-md="6" mode="ios">
            <div *ngIf="achiever.pic">
              <img alt="img" [src]="synergeService.basePath + achiever.pic" />
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="9" size-md="6" mode="ios">
            <ion-label class="name-date">
              {{achiever.date | date: 'MMM d, y - h:mm a'}}
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <!-- <ion-grid fixed>
    <app-spinner *ngIf="!displayAchievers"></app-spinner>
    <ion-row>
      <ion-col size="12" size-md="6" mode="ios" *ngFor="let achiever of displayAchievers">
        <ion-card>
          <a [href]="synergeService.basePath + achiever.pic" target="_blank" *ngIf="achiever.pic">
            <img alt="img" [src]="synergeService.basePath + achiever.pic" class="img-full" />
          </a>
          <ion-card-header>
            <ion-card-subtitle>
              {{achiever.date | date: 'MMM d, y'}}
              <ion-icon name="ellipsis-vertical" size="small" style="float: right;"
                (click)="presentPopover($event, achiever)" *ngIf="synergeService.isAdmin">
              </ion-icon>
            </ion-card-subtitle>
            <ion-label>
              <h2><b>Name:</b> {{achiever.achiever}}</h2>
              <h2><b>Achieved:</b> {{achiever.achieved}}</h2>
            </ion-label>
          </ion-card-header>
          <ion-card-content>
            <b>Company Name: </b>{{achiever.company_name}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <div style="padding-bottom: 100px;"></div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="synergeService.isAdmin">
    <ion-fab-button (click)="onAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>