<app-header title="Clients" [showBackButton]="true"></app-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-spinner *ngIf="!clients"></app-spinner>
  <div *ngIf="clients">
    <ion-item-group>
      <ion-list [hidden]="clients.length === 0" mode="ios">
        <ion-item-sliding *ngFor="let client of clients; let i = index"
          [attr.track]="client.active_status === 'Active' ? 'brand' : 'disabled' | lowercase">
          <ion-item (click)="onEdit(client)">
            <ion-label>
              <h3>{{client.company_name}}</h3>
              <h4>{{client.belongs_to}}</h4>
              <p>
                {{client.joined_date | date: 'MMM d, y'}}
              </p>
            </ion-label>
            <ion-icon name="chevron-forward-outline" *ngIf="synergeService.isAdmin"></ion-icon>
          </ion-item>
          <ion-item-options *ngIf="synergeService.isAdmin">
            <ion-item-option color="success" (click)="onEdit(client)">
              Edit
            </ion-item-option>
            <ion-item-option color="primary" (click)="onDelete(client, i)"
              [disabled]="deleteButtonText[i] === 'Loading...'">{{deleteButtonText[i]}} </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-item-group>

    <ion-list-header [hidden]="clients.length > 0">
      No Bookings Found
    </ion-list-header>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>