<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" size="large" (click)="dismiss()"></ion-icon>
    </ion-buttons>
    <ion-title>
      Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-spinner *ngIf="!clientForm"></app-spinner>
  <form [formGroup]="clientForm" *ngIf="clientForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Company Name*</ion-label>
      <ion-input type="text" formControlName="company_name" id="company_name" required>
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="submitted && hasError('company_name', 'required')">
      <small>Company Name is required.</small>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Belongs to*</ion-label>
      <ion-select formControlName="belongs_to" required>
        <ion-select-option value="SYNERGE_I">SYNERGE I</ion-select-option>
        <ion-select-option value="SYNERGE_II">SYNERGE II</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-text color="danger" *ngIf="submitted && hasError('belongs_to', 'required')">
      <small>Belongs to is required.</small>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Status*</ion-label>
      <ion-select formControlName="active_status" required>
        <ion-select-option value="Active">Active</ion-select-option>
        <ion-select-option value="Inactive">Inactive</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-text color="danger" *ngIf="submitted && hasError('active_status', 'required')">
      <small>Status is required.</small>
    </ion-text>

    <ion-item>
      <ion-label>Date of Joining*</ion-label>
      <ion-datetime displayFormat="MMM D, YYYY" mode="ios" max="2100" formControlName="joined_date" required>
      </ion-datetime>
    </ion-item>
    <ion-text color="danger" *ngIf="submitted && hasError('joined_date', 'required')">
      <small>Joined Date is required.</small>
    </ion-text>

    <ion-item *ngIf="clientForm.value.active_status === 'Inactive'">
      <ion-label>Date of leaving</ion-label>
      <ion-datetime displayFormat="MMM D, YYYY" mode="ios" max="2100" formControlName="leaving_date" required>
      </ion-datetime>
    </ion-item>

    <ion-button class="ion-padding" type="submit" expand="block" [disabled]="buttonText != 'Confirm'">
      {{buttonText}}
      <app-spinner *ngIf="buttonText === 'Loading...'"></app-spinner>
    </ion-button>

    <div style="padding-bottom: 100px;"></div>
  </form>
</ion-content>