<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" size="large" (click)="dismiss()"></ion-icon>
    </ion-buttons>
    <ion-title>
      Add Client Visitor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="clientVisitorsForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Visitor Name*</ion-label>
      <ion-input type="text" formControlName="visitor_name" id="visitor_name" required>
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="submitted && hasError('visitor_name', 'required')">
      <small>Visitor Name is required.</small>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Visitor Phone*</ion-label>
      <ion-input type="number" formControlName="visitor_phone" id="visitor_phone" required>
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="submitted && hasError('visitor_phone', 'required')">
      <small>Visitor Phone is required.</small>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Belongs to*</ion-label>
      <ion-select formControlName="company_belongs_to" (ionChange)="onBelongsToChange($event)" required>
        <ion-select-option value="SYNERGE_I">SYNERGE I</ion-select-option>
        <ion-select-option value="SYNERGE_II">SYNERGE II</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-text color="danger" *ngIf="submitted && hasError('company_belongs_to', 'required')">
      <small>Belongs to is required.</small>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Visiting Company Name*</ion-label>
      <ion-select formControlName="visiting_company" id="visiting_company" (ionChange)="onCompanyChange($event)" required>
        <ion-select-option *ngFor="let company of companyNames" [value]="company.company_name">{{company.company_name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-text color="danger" *ngIf="submitted && hasError('visiting_company', 'required')">
      <small>Visiting Company is required.</small>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Whom to Contact With*</ion-label>
      <ion-select formControlName="whom_to_contact_id" id="whom_to_contact_id" required>
        <ion-select-option *ngFor="let user of companyUsers" [value]="user._id">
          {{user.first_name}} {{user.last_name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-text color="danger" *ngIf="submitted && hasError('whom_to_contact_id', 'required')">
      <small>Whom to Contact is required.</small>
    </ion-text>

    <!-- <ion-item>
      <ion-label position="floating">Whom to Contact With*</ion-label>
      <ion-input type="text" formControlName="whom_to_contact" id="whom_to_contact"
        required>
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="submitted && hasError('whom_to_contact', 'required')">
      <small>Whom to Contact With is required.</small>
    </ion-text> -->

    <ion-item>
      <ion-label position="floating">Purpose of Visit*</ion-label>
      <ion-input type="text" type="text" formControlName="purpose_of_visit"
        id="purpose_of_visit" required>
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="submitted && hasError('purpose_of_visit', 'required')">
      <small>Purpose of Visit is required.</small>
    </ion-text>

    <ion-button class="ion-padding" type="submit" expand="block" [disabled]="buttonText != 'Confirm'">
      {{buttonText}}
      <app-spinner *ngIf="buttonText === 'Loading...'"></app-spinner>
    </ion-button>

    <div style="padding-bottom: 100px;"></div>
  </form>
</ion-content>