<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" size="large" (click)="dismiss()"></ion-icon>
    </ion-buttons>
    <ion-title>
      Likes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p *ngIf="likes.length === 0">No Likes.</p>
  <ion-list *ngIf="likes.length !== 0">
    <ion-list-header>
      Likes
    </ion-list-header>
    <ion-item *ngFor="let like of likes">
      <ion-avatar slot="start">
        <ion-icon name="thumbs-up"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2 (click)="synergeService.onUserInfo(like.by_user_id)">{{like.by_user_name}}</h2>
        <p>{{like.date | date: 'MMM d, y - h:mm a'}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>