<app-header title="News Feed" [showMenu]="true"></app-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-spinner *ngIf="!newsFeeds"></app-spinner>
  <div *ngIf="newsFeeds">
    <ion-slides pager="true" #slider [options]="slideOptsOne" *ngIf="carousels">
      <ion-slide *ngFor="let carousel of carousels" (press)="onCarouselPress(carousel._id)"> <!--  (pressup)="onPressUp($event)" -->
        <ion-img class="carousel-imgs" [src]="synergeService.basePath + carousel.image_path"></ion-img>
      </ion-slide>
    </ion-slides>

    <ion-list>
      <ion-item *ngFor="let newsFeed of newsFeeds" (click)="onDetails(newsFeed._id)">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="9" size-md="6" mode="ios">
              <ion-label>{{newsFeed.content}}</ion-label>
            </ion-col>
            <ion-col size="3" size-md="6" mode="ios">
              <div *ngIf="newsFeed.image_path">
                <img alt="img" [src]="synergeService.basePath + newsFeed.image_path" />
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="9" size-md="6" mode="ios">
              <ion-label class="name-date">
                {{newsFeed.by_user_name}} / {{newsFeed.date | date: 'MMM d, y - h:mm a'}}
              </ion-label>
            </ion-col>
            <ion-col size="3" size-md="6" mode="ios">
              <div class="like-comment">
                <div>
                  <ion-icon name="thumbs-up" [ngClass]="{'liked': getDidILike(newsFeed)}"></ion-icon>
                  {{newsFeed.likes.length}}
                </div>
                <div>
                  <ion-icon name="chatbox-ellipses"></ion-icon>
                  {{newsFeed.comments.length}}
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

    <!-- <ion-grid fixed>
      <ion-row>
        <ion-col size="12" size-md="6" mode="ios" *ngFor="let newsFeed of newsFeeds">
          <ion-card>
            <a [href]="synergeService.basePath + newsFeed.image_path" target="_blank" *ngIf="newsFeed.image_path">
              <img alt="img" [src]="synergeService.basePath + newsFeed.image_path" />
            </a>
            <ion-card-header>
              <ion-card-subtitle>
                {{newsFeed.date | date: 'MMM d, y - h:mm a'}}
              </ion-card-subtitle>
              <ion-label>
                <h2>
                  <a href="javascript:void(0)"
                    (click)="synergeService.onUserInfo(newsFeed.by_user_id)">{{newsFeed.by_user_name}}</a>
                </h2>
              </ion-label>
            </ion-card-header>
            <ion-card-content>
              {{newsFeed.content}}
              <hr>
              <div class="like-comment">
                <div>
                  <ion-icon name="thumbs-up" style="cursor: pointer;" [ngClass]="{'liked': getDidILike(newsFeed)}"
                    (click)="onLike(newsFeed)"></ion-icon>
                  <span style="cursor: pointer;" (click)="onLikeList(newsFeed)"> {{newsFeed.likes.length}} Likes</span>
                </div>
                <div>
                  <div style="cursor: pointer;" (click)="onComment(newsFeed)">
                    <ion-icon name="chatbox-ellipses"></ion-icon>
                    {{newsFeed.comments.length}} Comments
                  </div>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid> -->
  </div>

  <div style="padding-bottom: 100px;"></div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>