<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" size="large" (click)="dismiss()"></ion-icon>
    </ion-buttons>
    <ion-title>
      Details
    </ion-title>
    <ion-buttons slot="end" *ngIf="synergeService.isAdmin">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-spinner *ngIf="!newsFeed"></app-spinner>
  <div *ngIf="newsFeed">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <a href="javascript:void(0)" style="font-size: 18px;"
            (click)="synergeService.onUserInfo(newsFeed.by_user_id)">{{newsFeed.by_user_name}}</a>
        </ion-card-title>
        <ion-card-subtitle>{{newsFeed.date | date: 'MMM d, y - h:mm a'}}</ion-card-subtitle>
      </ion-card-header>
      <a [href]="synergeService.basePath + newsFeed.image_path" target="_blank" *ngIf="newsFeed.image_path">
        <img alt="img" class="img-full" [src]="synergeService.basePath + newsFeed.image_path" />
      </a>
      <ion-card-content>
        {{newsFeed.content}}
      </ion-card-content>
    </ion-card>

    <ion-toolbar class="ion-padding-start ion-padding-end border-like-comment">
      <ion-buttons slot="start">
        <ion-icon name="chatbox-ellipses"></ion-icon> &nbsp;
        {{newsFeed.comments.length}}
      </ion-buttons>
      <ion-buttons slot="end" (click)="onLike(newsFeed)">
        <ion-icon name="thumbs-up" style="cursor: pointer;" [ngClass]="{'liked': getDidILike(newsFeed)}"></ion-icon>
        &nbsp;
        <span> {{newsFeed.likes.length}}</span>
      </ion-buttons>
    </ion-toolbar>

    <ion-list *ngFor="let comment of newsFeed.comments" class="ion-padding-start ion-padding-end">
      <div class="border-list ion-padding-top">
        <div class="flex-between">
          <div>
            <a href="javascript:void(0)"
              (click)="synergeService.onUserInfo(comment.by_user_id)">{{comment.by_user_name}}</a>
          </div>
          <div>
            <ion-label class="name-date">
              {{comment.date | date: 'MMM d, y - h:mm a'}}
            </ion-label>
          </div>
        </div>
        <ion-label>
          <p class="ion-padding-top ion-padding-bottom">{{comment.comment}}</p>
        </ion-label>
      </div>
    </ion-list>
  </div>

  <div style="padding-bottom: 100px;"></div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onAddComment()">
      <ion-icon name="chatbox"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>