<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="news-feed">
      <ion-icon name="home"></ion-icon>
      <ion-label>News Feed</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bookings">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Bookings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="visitors">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Visitors</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
