<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" size="large" (click)="dismiss()"></ion-icon>
    </ion-buttons>
    <ion-title>
      Change Password
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Current Password*</ion-label>
      <ion-input type="password" formControlName="currentPassword" id="currentPassword" required>
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="submitted && hasError('currentPassword', 'required')">
      <small>Current Password is required.</small>
    </ion-text>
    <ion-text color="danger" *ngIf="submitted && hasError('currentPassword', 'invalidPassword')">
      <small>Invaid Password.</small>
    </ion-text>

    <ion-item>
      <ion-label position="floating">New Password*</ion-label>
      <ion-input type="password" formControlName="newPassword" id="newPassword"
      required>
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="submitted && hasError('newPassword', 'required')">
      <small>New Password is required.</small>
    </ion-text>
    <ion-text color="danger" *ngIf="submitted && hasError('newPassword', 'minlength')">
      <small>Password must contain 6 letters.</small>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Current Password*</ion-label>
      <ion-input type="password" formControlName="confirmPassword"
      id="confirmPassword" required>
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="submitted && hasError('confirmPassword', 'required')">
      <small>Confirm Password is required.</small>
    </ion-text>
    <ion-text color="danger" *ngIf="submitted && hasError('confirmPassword', 'passwordMismatch')">
      <small>Passwords did not match.</small>
    </ion-text>

    <ion-button class="ion-padding" type="submit" expand="block" [disabled]="buttonText != 'Confirm'">
      {{buttonText}}
      <app-spinner *ngIf="buttonText === 'Loading...'"></app-spinner>
    </ion-button>

    <div style="padding-bottom: 100px;"></div>
  </form>
</ion-content>