<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" size="large" (click)="dismiss()"></ion-icon>
    </ion-buttons>
    <ion-title>
      Crop Image
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="img-cropper">
    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="aspectRatio"
      format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()">
    </image-cropper>
  </div>

  <ion-button class="ion-padding" type="button" expand="block" (click)="submitCrop()">
    Save
  </ion-button>

  <div style="padding-bottom: 100px;"></div>
</ion-content>