<div *ngIf="onButton">
  <!-- <div *ngIf="synergeService.isMobile">
    <ion-button class="ion-padding" (click)="onChangePhoto()">{{buttonText}}</ion-button>
  </div> -->

  <div>
    <input style="display: none" type="file" accept='image/*' (change)="preview($event)" #fileInput>
    <ion-button class="ion-padding" (click)="fileInput.click()">{{buttonText}}</ion-button>
  </div>
</div>

<div *ngIf="!onButton">
  <!-- <div *ngIf="synergeService.isMobile">
    <ion-label (click)="onChangePhoto()">Change Image</ion-label>
  </div> -->

  <div>
    <input style="display: none" type="file" accept='image/*' (change)="preview($event)" #fileInput>
    <ion-label (click)="fileInput.click()">Change Image</ion-label>
  </div>
</div>