<ion-content [fullscreen]="true">
  <div id="container">
    <div class="ion-text-center">
      <img src="assets/img/logo.png" alt="Synerge logo" class="img-logo">
    </div>

    <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)" novalidate>
      <ion-list>
        <ion-item>
          <ion-label position="floating" color="primary">Username</ion-label>
          <ion-input [(ngModel)]="body.user_name" name="user_name" type="text" #user_name="ngModel" spellcheck="false"
            autocapitalize="off" required>
          </ion-input>
        </ion-item>

        <ion-text color="danger">
          <p [hidden]="user_name.valid || submitted == false" class="ion-padding-start">
            Username is required
          </p>
        </ion-text>

        <ion-item>
          <ion-label position="floating" color="primary">Password</ion-label>
          <ion-input [(ngModel)]="body.password" name="password" type="password" #password="ngModel" required>
          </ion-input>
        </ion-item>

        <ion-text color="danger">
          <p [hidden]="password.valid || submitted == false" class="ion-padding-start">
            Password is required
          </p>
        </ion-text>
      </ion-list>

      <p class="ion-padding ion-text-right" style="cursor: pointer;" (click)="onForgotPassword()">
        Forgot Password ?
      </p>

      <ion-button class="ion-padding" type="submit" expand="block" [disabled]="buttonText != 'Let`s go'">
        {{buttonText}}
        <ion-spinner name="crescent" *ngIf="buttonText === 'Loading...'"></ion-spinner>
      </ion-button>
    </form>

    <br>

    <p class="ion-padding ion-text-center">
      Not Registered?
      <a href="javascript:void(0)" (click)="onRegister()">
        Register
      </a>
    </p>

  </div>
</ion-content>