<ion-app [class.dark-theme]="dark">
  <ion-split-pane contentId="main-content">

    <ion-menu side="end" contentId="main-content">
      <ion-content>
        <ion-list lines="none">
          <ion-list-header>
            Synerge Community
          </ion-list-header>

          <ion-menu-toggle autoHide="false" *ngFor="let p of synergeService.menuItems; let i = index">
            <ion-item [routerLink]="p.url" routerLinkActive="selected" routerDirection="forward" detail="false">
              <ion-icon slot="start" [name]="p.icon + '-outline'"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item>
            <ion-icon slot="start" name="moon-outline"></ion-icon>
            <ion-label>
              Dark Mode
            </ion-label>
            <ion-toggle mode="ios" [(ngModel)]="dark" (ionChange)="onDarkToggle()" style="height: 25px;"></ion-toggle>
          </ion-item>

          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="onAboutUs()" detail="false">
              <ion-icon slot="start" name="information-circle-sharp"></ion-icon>
              <ion-label>
                About Us
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="logout()" detail="false">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                Logout
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>
</ion-app>