<ion-content [fullscreen]="true">
  <div class="ion-text-center">
    <img src="assets/img/logo.png" alt="Synerge logo" class="img-logo">
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">First Name*</ion-label>
      <ion-input type="text" formControlName="first_name" id="first_name" required>
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="submitted && hasError('first_name', 'required')">
      <small>First Name is required.</small>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Last Name*</ion-label>
      <ion-input type="text" formControlName="last_name" id="last_name" required>
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="submitted && hasError('last_name', 'required')">
      <small>Last Name is required.</small>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Email*</ion-label>
      <ion-input type="email" formControlName="email" id="email" required>
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="submitted && hasError('email', 'required')">
      <small>Email is required.</small>
    </ion-text>
    <ion-text color="danger" *ngIf="submitted && hasError('email', 'email')">
      <small>Please enter valid email.</small>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Phone*</ion-label>
      <ion-input type="number" formControlName="phone" id="phone" required>
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="submitted && hasError('phone', 'required')">
      <small>Please enter valid number.</small>
    </ion-text>
    <ion-text color="danger" *ngIf="submitted && hasError('phone', 'phoneMinLength')">
      <small>Please enter valid number.</small>
    </ion-text>

    <ion-item>
      <ion-label position="floating">User Name*</ion-label>
      <ion-input type="text" formControlName="user_name" id="user_name" required>
      </ion-input>
    </ion-item>
    <ion-text color="info">
      <small>Unique User Name to login.</small>
    </ion-text>
    <ion-text color="danger" *ngIf="submitted && hasError('user_name', 'required')">
      <small>User Name is required.</small>
    </ion-text>

    <ion-item>
      <ion-label position="floating">New Password*</ion-label>
      <ion-input type="password" formControlName="newPassword" id="newPassword" required>
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="submitted && hasError('newPassword', 'required')">
      <small>New Password is required.</small>
    </ion-text>
    <ion-text color="danger" *ngIf="submitted && hasError('newPassword', 'minlength')">
      <small>Password must contain 6 letters.</small>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Confirm Password*</ion-label>
      <ion-input type="password" formControlName="confirmPassword" id="confirmPassword" required>
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="submitted && hasError('confirmPassword', 'required')">
      <small>Confirm Password is required.</small>
    </ion-text>
    <ion-text color="danger" *ngIf="submitted && hasError('confirmPassword', 'passwordMismatch')">
      <small>Passwords did not match.</small>
    </ion-text>


    <ion-button class="ion-padding" type="submit" expand="block" [disabled]="buttonText != 'Register'">
      {{buttonText}}
      <app-spinner *ngIf="buttonText === 'Loading...'"></app-spinner>
    </ion-button>

    <ion-button class="ion-padding" color="medium" type="button" expand="block" routerLink="../">
      Cancel
    </ion-button>

  </form>
  <div style="padding-bottom: 100px;"></div>
</ion-content>