<app-header title="Feedback" [showBackButton]="true"></app-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-spinner *ngIf="!feedbacks"></app-spinner>
  <div *ngIf="feedbacks">
    <ion-item-group>
      <ion-list [hidden]="feedbacks.length === 0" mode="ios">
        <ion-item-sliding *ngFor="let feedback of feedbacks; let i = index"
          [attr.track]="feedback.status === 'Completed' ? 'disabled' : 'brand' | lowercase">
          <ion-item (click)="editFeedback(feedback)">
            <ion-label>
              <h3>
                Given By:
                <a href="javascript:void(0)"
                  (click)="synergeService.onUserInfo(feedback.by_user_id)">{{feedback.by_user_name}}</a>
              </h3>
              <h3>{{feedback.company_name}}</h3>
              <h4>{{feedback.feedback}}</h4>
              <p>
                {{feedback.requested_date | date: 'MMM d, y - h:mm a'}} | {{feedback.status}}
              </p>
            </ion-label>
          </ion-item>
          <ion-item-options>
            <ion-item-option color="success" (click)="editFeedback(feedback)" *ngIf="synergeService.isAdmin">
              Edit
            </ion-item-option>
            <ion-item-option color="warning" (click)="commentFeedback(feedback)">
              Comments
            </ion-item-option>
            <ion-item-option color="primary" (click)="onDelete(feedback, i)" *ngIf="synergeService.isAdmin"
              [disabled]="deleteButton[i]">
              <span *ngIf="!deleteButton[i]">Delete</span>
              <span *ngIf="deleteButton[i]">Loading...</span>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-item-group>

    <ion-list-header [hidden]="feedbacks.length > 0">
      No Feedback/Suggesions Found
    </ion-list-header>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!synergeService.isAdmin">
    <ion-fab-button (click)="onAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>