<app-header title="Synerge Family" [showBackButton]="true"></app-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-segment (ionChange)="segmentChanged($event)" [value]="selectedSegment">
    <ion-segment-button value="SYNERGE_I">
      <ion-label>SYNERGE I</ion-label>
    </ion-segment-button>
    <ion-segment-button value="SYNERGE_II">
      <ion-label>SYNERGE II</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-grid fixed>
    <app-spinner *ngIf="!displaySynergeFamily"></app-spinner>
    <ion-row>
      <ion-col size="12" size-md="6" mode="ios" *ngFor="let synerge of displaySynergeFamily">
        <ion-card>
          <a [href]="synergeService.basePath + synerge.company_logo_path" target="_blank"
            *ngIf="synerge.company_logo_path">
            <img alt="img" [src]="synergeService.basePath + synerge.company_logo_path" class="img-full" />
          </a>
          <ion-card-header>
            <ion-card-subtitle>
              {{synerge.company_name}}
              <ion-icon name="ellipsis-vertical" size="small" style="float: right;"
                (click)="presentPopover($event, synerge)" *ngIf="synergeService.isAdmin">
              </ion-icon>
            </ion-card-subtitle>
            <ion-label>
              <h2>{{synerge.company_name}}</h2>
              <h2>{{synerge.company_description}}</h2>
            </ion-label>
          </ion-card-header>
          <ion-card-content>
            <div *ngFor="let head of synerge.company_heads">
              <div class="col-md-6">
                <h6><b>{{head.designation}}</b></h6>
              </div>
              <div class="col-md-6">
                <h6>{{head.name}}</h6>
              </div>
            </div>
            <h5><a [href]="synerge.company_link" target="_blank">{{synerge.company_link}}</a></h5>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div style="padding-bottom: 100px;"></div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="synergeService.isAdmin">
    <ion-fab-button (click)="onAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>