<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" size="large" (click)="dismiss()"></ion-icon>
    </ion-buttons>
    <ion-title>
      Edit Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-spinner *ngIf="!user"></app-spinner>
  <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()" *ngIf="editProfileForm">
    <ion-item>
      <ion-label position="floating">First Name*</ion-label>
      <ion-input type="text" formControlName="first_name" id="first_name" required>
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="submitted && hasError('first_name', 'required')">
      <small>First Name is required.</small>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Last Name*</ion-label>
      <ion-input type="text" formControlName="last_name" id="last_name" required>
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="submitted && hasError('last_name', 'required')">
      <small>Last Name is required.</small>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Email*</ion-label>
      <ion-input type="email" formControlName="email" id="email" required>
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="submitted && hasError('email', 'required')">
      <small>Email is required.</small>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Phone*</ion-label>
      <ion-input type="number" formControlName="phone" id="phone" required>
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="submitted && hasError('phone', 'required')">
      <small>Please enter valid number.</small>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Designation</ion-label>
      <ion-input type="text" formControlName="designation" [(ngModel)]="user.designation" id="designation">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Bio</ion-label>
      <ion-input type="text" formControlName="bio" [(ngModel)]="user.bio" id="bio">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">User Name*</ion-label>
      <ion-input type="text" formControlName="user_name" id="user_name" required>
      </ion-input>
    </ion-item>
    <ion-text color="info">
      <small>Unique User Name to login.</small>
    </ion-text>
    <ion-text color="danger" *ngIf="submitted && hasError('user_name', 'required')">
      <small>User Name is required.</small>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-input type="text" formControlName="address" formControlName="address" id="address">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">City</ion-label>
      <ion-input type="text" formControlName="city" id="city">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Country</ion-label>
      <ion-input type="text" formControlName="country" id="country">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Postal Code</ion-label>
      <ion-input type="number" formControlName="postal_code" id="postal_code">
      </ion-input>
    </ion-item>


    <div *ngIf="synergeService.isAdmin">
      <ion-item>
        <ion-label position="floating">Role*</ion-label>
        <ion-select formControlName="role" required>
          <ion-select-option value="ADMIN">ADMIN</ion-select-option>
          <ion-select-option value="CLIENT">CLIENT</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-text color="danger" *ngIf="submitted && hasError('role', 'required')">
        <small>Role is required.</small>
      </ion-text>

      <ion-item>
        <ion-label position="floating">Belongs to*</ion-label>
        <ion-select formControlName="belongs_to" (ionChange)="handleBelongsToChangeEvent($event)" required>
          <ion-select-option value="SYNERGE_I">SYNERGE I</ion-select-option>
          <ion-select-option value="SYNERGE_II">SYNERGE II</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-text color="danger" *ngIf="submitted && hasError('belongs_to', 'required')">
        <small>Belongs to is required.</small>
      </ion-text>

      <ion-item>
        <ion-label position="floating">Company Name*</ion-label>
        <ion-select formControlName="company_name" id="company_name" required>
          <ion-select-option *ngFor="let company of companyNames" [value]="company.company_name">
            {{company.company_name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-text color="danger" *ngIf="submitted && hasError('company_name', 'required')">
        <small>Company is required.</small>
      </ion-text>
    </div>

    <ion-button class="ion-padding" type="submit" expand="block" [disabled]="buttonText != 'Save'">
      {{buttonText}}
      <app-spinner *ngIf="buttonText === 'Loading...'"></app-spinner>
    </ion-button>

    <ion-button class="ion-padding" type="button" expand="block" *ngIf="showChangePassword"
      (click)="onChangePassword()">
      Change Password
    </ion-button>

    <div style="padding-bottom: 100px;"></div>
  </form>
</ion-content>