<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" size="large" (click)="dismiss()"></ion-icon>
    </ion-buttons>
    <ion-title>
      Add Booking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group [(ngModel)]="selectedType" name="selectedType">
      <ion-list-header>
        <ion-label>Booking for</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>{{discussionRoomString}}</ion-label>
        <ion-radio slot="start" value="Discussion room"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Conference room</ion-label>
        <ion-radio slot="start" value="Conference room"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Pantry</ion-label>
        <ion-radio slot="start" value="Pantry"></ion-radio>
      </ion-item>

      <ion-item *ngIf="belongs_to === 'SYNERGE_II'">
        <ion-label>Board room</ion-label>
        <ion-radio slot="start" value="Board room"></ion-radio>
      </ion-item>

      <ion-item *ngIf="belongs_to === 'SYNERGE_II'">
        <ion-label>Game room</ion-label>
        <ion-radio slot="start" value="Game room"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <div *ngIf="selectedType">
      <ion-list-header>
        <ion-label>Booking date</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Choose a date</ion-label>
        <ion-datetime displayFormat="MMM D, YYYY" mode="ios" [min]="minDate" max="2100" [(ngModel)]="selectedDate"
          (ionChange)="onDateChange(selectedDate)">
        </ion-datetime>
      </ion-item>
    </div>

    <div *ngIf="selectedDate" (click)="displayTimes()">
      <ion-list-header>
        <ion-label>Booking time</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Timeslot</ion-label>
        <ion-label style="text-align: right;">{{selectedTime}}</ion-label>
      </ion-item>
    </div>
  </ion-list>

  <ion-text color="danger">
    <p *ngIf="message" class="ion-padding-start">
      {{message}}
    </p>
  </ion-text>

  <ion-text color="success" *ngIf="showSuccessMessage">
    <p class="ion-padding-start">
      Details Sent Successfully.
      <span>Our Assistant Will Update You Shortly.</span>
    </p>
  </ion-text>

  <ion-button class="ion-padding" expand="block" (click)="onSubmit()" [disabled]="buttonText != 'Submit'">
    {{buttonText}}
  </ion-button>
</ion-content>