.time-item {
  width: 50%;
  margin: auto;
  text-align: center;
  padding-bottom: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-pointer:hover {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.selected {
  background-color: #b80203;
}

.booked {
  background-color: gray;
}
