<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" size="large" (click)="dismiss()"></ion-icon>
    </ion-buttons>
    <ion-title>
      Add Booking Time
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDone()">Done</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Select time slot for - {{ selectedDate | date: 'MMM d, y' }}</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let slot of timeSlots; let i = index;" class="time-item">
      <ion-label [ngClass]="{'cursor-pointer': !slot.booked, 'selected': slot.selected, 'booked': slot.booked}"
        (click)="onSelect(slot)">{{slot.time}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>