<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" size="large" (click)="dismiss()"></ion-icon>
    </ion-buttons>
    <ion-title>
      Feedback
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating" color="primary">Feedback*</ion-label>
      <ion-input [(ngModel)]="feedback.feedback" name="feedback" type="text" required>
      </ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-label>
        <h4>Feedback/Suggestions</h4>
        <p>
          {{feedback.feedback}}
        </p>
      </ion-label>
    </ion-item> -->

    <ion-item *ngIf="feedbackId && synergeService.isAdmin">
      <ion-label position="floating" color="primary">Feedback Status*</ion-label>
      <ion-select [(ngModel)]="feedback.status" name="status" required>
        <ion-select-option value="Not Seen">Not Seen</ion-select-option>
        <ion-select-option value="On Progress">On Progress</ion-select-option>
        <ion-select-option value="Completed">Completed</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button class="ion-padding" type="submit" [disabled]="buttonText != 'Submit'" *ngIf="synergeService.isAdmin">
      {{buttonText}}
      <app-spinner *ngIf="buttonText === 'Loading...'"></app-spinner>
    </ion-button>
  </form>

  <br>

  <!-- <ion-toolbar class="ion-padding-start ion-padding-end border-like-comment">
    <ion-buttons slot="start">
      <ion-icon name="chatbox-ellipses"></ion-icon> &nbsp;
      {{feedback.comments.length}}
    </ion-buttons>
  </ion-toolbar> -->

  <ion-list *ngFor="let comment of feedback.comments" class="ion-padding-start ion-padding-end">
    <div class="border-list ion-padding-top">
      <div class="flex-between">
        <div>
          <a href="javascript:void(0)"
            (click)="synergeService.onUserInfo(comment.by_user_id)">{{comment.by_user_name}}</a>
        </div>
        <div>
          <ion-label class="name-date">
            {{comment.date | date: 'MMM d, y - h:mm a'}}
          </ion-label>
        </div>
      </div>
      <ion-label>
        <h4 class="ion-padding-top ion-padding-bottom">{{comment.comment}}</h4>
      </ion-label>
    </div>
  </ion-list>

  <div style="padding-bottom: 100px;"></div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onAddComment()">
      <ion-icon name="chatbox"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>