.img-logo {
  height: 60px;
  margin-top: 100px;
}

#container p {
  font-size: 14px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

ion-title {
  font-size: 12px;
  text-align: center;
  color: var(--ion-color-primary);
}

.rights-style {
  color: #8c8c8c;
}