<app-header title="About Us" [showBackButton]="true"></app-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="ion-text-center">
      <img src="assets/img/logo.png" alt="Synerge logo" class="img-logo">
      <p>Synerge Community</p>
      <p>
        Version {{version}}
      </p>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title>© Synerge WorkSpace LLP.  <span class="rights-style">All Rights Reserved.</span></ion-title>
  </ion-toolbar>
</ion-footer>