<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" size="large" (click)="dismiss()"></ion-icon>
    </ion-buttons>
    <ion-title>
      Details
    </ion-title>
    <ion-buttons slot="end" *ngIf="synergeService.isAdmin">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-spinner *ngIf="!achiever"></app-spinner>
  <div *ngIf="achiever">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>{{achiever.date | date: 'MMM d, y - h:mm a'}}</ion-card-subtitle>
      </ion-card-header>
      <a [href]="synergeService.basePath + achiever.pic" target="_blank" *ngIf="achiever.pic">
        <img alt="img" class="img-full" [src]="synergeService.basePath + achiever.pic" />
      </a>
      <ion-card-content>
        <ion-card-title>Name: {{achiever.achiever}}</ion-card-title>
        <ion-card-title>Achieved: {{achiever.achieved}}</ion-card-title>
        Company Name: {{achiever.company_name}}
      </ion-card-content>
    </ion-card>
  </div>

  <div style="padding-bottom: 100px;"></div>
</ion-content>