<app-header title="Bookings" [showMenu]="true"></app-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-spinner *ngIf="!bookings"></app-spinner>
  <div *ngIf="bookings">
    <ion-item-group>
      <ion-list [hidden]="bookings.length === 0" mode="ios">
        <ion-item-sliding *ngFor="let booking of bookings"
          [attr.track]="booking.status === 'Completed' ? 'disabled' : 'brand' | lowercase">
          <ion-item (click)="onDetails(booking._id)">
            <ion-label>
              <h3>
                <a>{{booking.by_user_name}}</a>
              </h3>
              <h3>{{booking.company_name}}</h3>
              <h4>{{booking.booking_type}}</h4>
              <p>
                {{booking.booking_date | date: 'MMM d, y'}} | {{booking.booking_time}}: {{booking.status}}
              </p>
            </ion-label>
            <ion-icon name="chevron-forward-outline" *ngIf="synergeService.isAdmin"></ion-icon>
          </ion-item>
          <ion-item-options *ngIf="synergeService.isAdmin">
            <ion-item-option color="success" (click)="onConfirm(booking._id)"
              *ngIf="booking.status !== 'Confirmed' && booking.status !== 'Completed'">
              Confirm
            </ion-item-option>
            <ion-item-option color="warning" (click)="onDecline(booking._id)"
              *ngIf="booking.status !== 'Declined' && booking.status !== 'Completed'">
              Decline
            </ion-item-option>
            <ion-item-option color="primary" (click)="onDelete(booking._id)">
              Delete
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-item-group>

    <ion-list-header [hidden]="bookings.length > 0">
      No Bookings Found
    </ion-list-header>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>