<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" size="large" (click)="dismiss()"></ion-icon>
    </ion-buttons>
    <ion-title>
      Comments
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p *ngIf="comments.length === 0">No Comments.</p>
  <ion-list *ngIf="comments.length !== 0">
    <ion-list-header>
      Comments
    </ion-list-header>
    <ion-item *ngFor="let comment of comments">
      <ion-label>
        <p (click)="synergeService.onUserInfo(comment.by_user_id)">{{comment.by_user_name}}</p>
        <p>{{comment.date | date: 'MMM d, y - h:mm a'}}</p>
        <h2 style="padding-left: 15px;">{{comment.comment}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="9">
        <ion-item>
          <ion-label position="floating">Enter Comment</ion-label>
          <ion-input type="text" [(ngModel)]="newComment" name="newComment" required>
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="3">
        <ion-button class="ion-padding" type="button" [disabled]="newComment.length === 0"
          (click)="onSend()">
          Send
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>