<app-header title="Visitors" [showMenu]="true"></app-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-spinner *ngIf="!clientVisitors"></app-spinner>
  <div *ngIf="clientVisitors">
    <ion-card [hidden]="clientVisitors.length === 0" *ngFor="let vistor of clientVisitors; let i = index;"
      class="brand-card-style">
      <ion-card-header>
        <ion-card-subtitle>
          {{vistor.visiting_time | date: 'MMM d, y - h:mm a'}}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div class="flex-row-between" *ngIf="synergeService.isAdmin">
          <h3>Visiting Company</h3>
          <p>{{vistor.visiting_company}}</p>
        </div>
        <div class="flex-row-between">
          <h3>Visitor Name</h3>
          <p>{{vistor.visitor_name}}</p>
        </div>
        <div class="flex-row-between">
          <h3>Visitor Phone</h3>
          <p>
            <app-share-action [text]="vistor.visitor_phone" [type]="'phone'"></app-share-action>
          </p>
        </div>
        <hr>
        <h3>Whom to contact</h3>
        <p>{{vistor.whom_to_contact}}</p>
        <hr>
        <h3>Purpose of visit</h3>
        <p>{{vistor.purpose_of_visit}}</p>

        <ion-button class="ion-padding" expand="block" (click)="onDelete(vistor, i)"
          [disabled]="deleteButtonText[i] === 'Loading...'" *ngIf="synergeService.isAdmin">
          {{deleteButtonText[i]}}
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-list-header [hidden]="clientVisitors.length > 0">
      No Visitors Found
    </ion-list-header>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="synergeService.isAdmin">
    <ion-fab-button (click)="onAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>