ion-toolbar {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;

  --background: transparent;
  --color: white;
}

ion-toolbar ion-button,
ion-toolbar ion-back-button,
ion-toolbar ion-menu-button {
  --color: white;
}

.profile-header {
  position: relative;

  width: 100%;
  height: 50%;
}

.profile-header .profile-image {
  position: absolute;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.profile-header-gray {
  background-color: darkgray;
}

.profile-info {
  position: absolute;
  margin-top: -10px;
  border-radius: 10px;
  background: var(--ion-background-color, #fff);
  width: 100%;
}

.profile-info h3 {
  margin-top: 0;
}

.profile-info ion-list {
  padding-top: 0;
}

.profile-info p {
  line-height: 130%;

  color: var(--ion-color-dark);
}

.profile-info ion-icon {
  margin-inline-end: 32px;
}

/*
 * iOS Only
 */

.ios .profile-info {
  --ion-padding: 19px;
}

.ios .profile-info h3 {
  font-weight: 700;
}
